:root {
    --pocet_clanok: 6;
    --pocet_clanok_v_slider: calc(var(--pocet_clanok) + 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    font-family: "Ribeye Marrow", serif;/*Comic Sans MS // Footlight MT Light // Calibri  */
}
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.w-100 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.z-i-0 {
    z-index: 0;
}
.trans {
    transition: all 0.5s ease;
}
.dis-jus-alig-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dis-jus-alig-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.giga-text {
    font-size: 5rem;
}
.V-text {
    font-size: 3rem;
}
.M-text {
    font-size: 2rem;
}
.mini-text {
    font-size: 1.5rem;
}
.T-biely {
    color: aliceblue;
}
/* ||||||||||||||||||||||||| header ||||||||||||||||||||||||| */

.menu-b-t{
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    display: none;
    border-radius: 15px;
}
.b-t {
    width: 16rem;
    height: 5rem;
    cursor: pointer;
    border: none;
    z-index: 2;
    border-radius: 1rem;
    font-size: 1.3rem;
    animation: up_down 5s infinite ease-in-out;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}
.b-t::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms
}
.b-t:hover {
    color: #b1b1b1;
}
   
.b-t:hover::before {
    width: 100%;
}
.left {
    rotate: -5deg;
}
.right {
    rotate: 5deg;
}
.vypni {
    display: block;
}
.menu {
    z-index: 5;
    width: 100%;
    height: 12rem;
    top: 0rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46271008403361347) 100%);
}
.menu.show {
    left: 0;
}
@keyframes up_down {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
@media screen and (max-width: 900px) {
    .menu-b-t {
        display: block;
    }
    .menu {
        width: 50%;
        height: auto;
        padding-block: 2%;
        left: -100%;
        transition: left 0.3s;
        flex-direction: column;
        border-radius: 0 0 15px 0;
        background: rgba(0,0,0,0.8);;
    }
    .b-t-m {
        margin-block: 0.5rem;
    }
    .left,.right {
        rotate: 0deg;
    }
}
/* ||||||||||||||||||||||||| header ||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||| slider ||||||||||||||||||||||||| */

.n-d-t {
    height: 6rem;
}
.holder {
    width: 100vw;
    height: 28rem;
    overflow: hidden;
    position: relative;
}
.hibadlo{
    height: 100%;
    width: calc(100% * var(--pocet_clanok_v_slider));
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
    transform: translateX(calc(var(--pocet_clanok_v_slider)));
}
.clanok {
    height: 100%;
    width: calc(100% / var(--pocet_clanok_v_slider));
    transition: all 0.5s ease;
    /* temp */  
    text-align: center;
    font-size: 5rem;
}
.img {
    width: calc(100% / var(--pocet_clanok_v_slider));
    height: auto;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}
.holder .nav-botky {
    width: 100%;
    height: 3rem;
    bottom: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.holder .nav-botky .botka {
    width: calc(100%/6);
    height: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* ||||||||||||||||||||||||| slider ||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||| najnovšie ||||||||||||||||||||||||| */
.naj-d-c {
    width: 100%;
    height: auto;
    padding: 5rem;
}
.cen-text {
    text-align-last: center;
}
.pad-block {
    padding-block: 1.5rem;
}
/* ||||||||||||||||||||||||| najnovšie ||||||||||||||||||||||||| */

/* ||||||||||||||||||||||||| vsetky ||||||||||||||||||||||||| */
.vse-d {
    width: 100%;
    height: auto;
}
.vse-kon {
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.vse-f {
    width: 30%;
    height: 100%;
    padding-inline: 5%;
}
.bef::before {
    content: "- ";
}

/* ||||||||||||||||||||||||| vsetky ||||||||||||||||||||||||| */